@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 220 27% 95%;
    --foreground: 220 25% 10%;
    --card: 220 27% 100%;
    --card-foreground: 220 25% 10%;
    --popover: 220 27% 100%;
    --popover-foreground: 220 25% 10%;
    --primary: 231 48% 48%;
    --primary-foreground: 210 40% 98%;
    --secondary: 220 14% 91%;
    --secondary-foreground: 220 25% 10%;
    --muted: 220 14% 91%;
    --muted-foreground: 220 9% 45%;
    --accent: 261 51% 53%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 88%;
    --input: 220 13% 88%;
    --ring: 231 48% 48%;
    --radius: 0.5rem;
    
    --sidebar-background: 231 48% 48%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 210 40% 98%;
    --sidebar-primary-foreground: 231 48% 48%;
    --sidebar-accent: 231 48% 55%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 231 48% 55%;
    --sidebar-ring: 210 40% 98%;
  }
  .dark {
    --background: 220 25% 10%;
    --foreground: 210 40% 98%;
    --card: 220 25% 10%;
    --card-foreground: 210 40% 98%;
    --popover: 220 25% 10%;
    --popover-foreground: 210 40% 98%;
    --primary: 231 48% 55%;
    --primary-foreground: 220 25% 10%;
    --secondary: 220 14% 15%;
    --secondary-foreground: 210 40% 98%;
    --muted: 220 14% 15%;
    --muted-foreground: 210 20% 60%;
    --accent: 261 51% 60%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 20%;
    --input: 220 13% 20%;
    --ring: 231 48% 55%;

    --sidebar-background: 220 25% 10%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 210 40% 98%;
    --sidebar-primary-foreground: 220 25% 10%;
    --sidebar-accent: 220 14% 15%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 220 13% 20%;
    --sidebar-ring: 210 40% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
